<div>
  <%= avatar shout.user %>
  <%= link_to shout.username, shout.user %>:
  <%= render shout.content %> at
  <%= link_to shout do %>
    <%= time_ago_in_words(shout.created_at) %> ago
  <% end %>
  <%= like_button(shout) %>
  <%= delete_button(shout) %>
</div>
