<h1>Dashboard</h1>

<%= shout_form_for(TextShout) do |form| %>
  <%= form.text_field :body, placeholder: "Shout content here...", required: true %>
<% end %>

<%= shout_form_for(TextShout) do |form| %>
  <%= form.file_field :image, required: true %>
<% end %>

<%= render @shouts %>
